// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin: 0 auto;
}

.container {
  width: 50%;
}

.container-list {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: grey;
}
